* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.gray {
  color: #918e9b;
}

.bold {
  font-weight: bold;
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navbar {
  height: 70px;
  padding: 20px 36px;
  position: relative;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.navLogo {
  position: absolute;
  max-width: 100px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroPictureGrid {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.heroInfoSection {
  margin-left: 4rem;
  justify-items: left;
}

.heroInfoHeader {
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  margin-bottom: 16px;
}

.heroInfoText {
  word-wrap: break-word;
  inline-size: 20rem;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
}

.cardContainer {
  display: inline-flex;
}

.card {
  width: 175px;
  font-size: 12px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin: 50px;
  position: relative;
}

.cardBadge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.cardImage {
  width: 100%;
  border-radius: 9px;
  height: 235px;
}

.cardTitle {
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardStats {
  display: flex;
  align-items: center;
}

.cardStar {
  height: 14px;
}

.cardPrice {
  display: flex;
  margin-top: auto;
}
